@tailwind base;
@tailwind components;
@tailwind utilities;
.hero-overlay {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.hero-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  pointer-events: none;
  z-index: -1;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

body {
  @apply bg-gradient-to-r from-pink-100 via-purple-200 to-indigo-100 text-gray-800 transition-colors duration-500;
}

.dark body {
  @apply bg-gradient-to-r from-[#17092c] via-[#6919a2] to-[#5922d7] text-gray-100 transition-colors duration-500;
}
