@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

html {
  scroll-behavior: smooth;
}

.section-bg {
  position: relative;
  z-index: 0;
}

.section-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(4px);
  pointer-events: none;
  z-index: -1;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

body {
  @apply bg-gradient-to-r from-pink-100 via-purple-200 to-indigo-100 text-gray-800 transition-colors duration-500;
}

.dark body {
  @apply bg-gradient-to-r from-[#17092c] via-[#6919a2] to-[#5922d7] text-gray-100 transition-colors duration-500;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

.swiper-button-next,
.swiper-button-prev {
  @apply text-purple-600 dark:text-purple-400 !important;
  @apply hover:scale-110 transition-transform duration-200;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem !important;
  font-weight: bold;
}
